<md-card class="global-md-card">
	<md-card-content class="global-md-card-content full-height-wrapper">
		<div class="full-height">
			<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"  (mapClick)="mapClicked($event)">
				<sebm-google-map-marker
					*ngFor="let m of markers; let i = index"
					(markerClick)="clickedMarker(m.label, i)"
					[latitude]="m.lat"
					[longitude]="m.lng"
					[label]="m.label">

					<sebm-google-map-info-window>
						<div>
							<strong>ATM 56</strong>
						</div>
						<button color="accent" class="btn" md-raised-button>EDIT</button>
						<button color="warn" class="btn" (click)="removeATM()" md-raised-button>DELETE</button>
					</sebm-google-map-info-window>

				</sebm-google-map-marker>
			</sebm-google-map>
		</div>
	</md-card-content>
</md-card>