$atm-top-navigation-height: 60px;

$primary-border-color: #e0e0e0;
$primary-border: 1px solid $primary-border-color;

$secondary-border-color: #d0d0d0;
$secondary-border: 1px solid $secondary-border-color;

$item-hover-color: #ddd;