:host {
	.add-atm-modal {
		width: 450px;
	}

	.full-width {
		md-input-container, md-select {
			width: 100%;
		}
	}

	.one-line {
		margin-top: 8px;

		md-input-container, md-select {
			width: 32.7%;
		}
	}

	.add-remove-cassette-btn {
		width: 100%;
	}
}