<md-card class="global-md-card">
	<md-spinner *ngIf="loading"></md-spinner>
	<md-card-content class="global-md-card-content full-height-wrapper" [ngClass]="{'loading-bg': loading}">
		<div class="full-height">
			<table class="table striped">
				<tr class="table-header">
					<th>
						ATM
					</th>
					<th>
						Address
					</th>
				</tr>
				<tr *ngFor="let row of atmTable" (click)="goToATMReport(row.id)">
					<td *ngFor="let column of row | iterateObject : iterateKeys">
						{{column}}
					</td>
				</tr>
			</table>
		</div>
	</md-card-content>
</md-card>