<md-card class="global-md-card">
	<md-spinner *ngIf="loading"></md-spinner>

	<md-card-content class="global-md-card-content full-height-wrapper" [ngClass]="{'loading-bg': loading}">
		<md-input-container>
			<input mdInput type="text" placeholder="Search" [(ngModel)]="search">
		</md-input-container>

		<div class="full-height table-wrapper">
			<table class="table striped">
				<thead>
					<tr class="table-header">
						<th>
							<md-checkbox [(ngModel)]="checkedAll"></md-checkbox>
						</th>
						<th>
							ATM
						</th>
						<th>
							Address
						</th>
					</tr>
				</thead>
				<tbody>
				<tr *ngFor="let row of atmTable" (click)="goToATMReport(row.id)">
					<td (click)="$event.stopPropagation()">
						<md-checkbox [(ngModel)]="row.checked" [checked]="checkedAll"></md-checkbox>
					</td>
					<td *ngFor="let column of row | iterateObject : iterateKeys">
						{{column}}
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</md-card-content>
</md-card>